<div class="intro-header">
  <img src="https://stackblitz.com/files/angular-modal-gallery-v8/github/Ks89/stackblitz-angular-modal-gallery-v8-example/master/src/favicon.png" alt="@ks89/angular-modal-gallery icon" width="180" height="auto"
       title="@ks89/angular-modal-gallery"/>
  <h1 class="project-title display-3 white">@ks89/angular-modal-gallery</h1>
  <p class="lead">Image gallery for Angular >=9</p>
  <p class="lead">Currently v8</p>
  <br>
</div>
